<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help Page</title>
</head>
<body>
	{{> header}}

    {{!-- in order to pass data into one of our helpers, we first have to reference the helper by name, 
    'screamIt' in this case, then after a space we can specify whatever data we wanna pass in as arguments --}}
	<p> {{screamIt welcomeMessage}} </p>
    {{!-- welcomeMessage was specified no server.js so it'll be injected here. --}}
    {{> footer}}
</body>
</html>